.disabled {
    cursor: not-allowed;
    pointer-events: none;
}

/**
.nav-item-right{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start;
}

.navbar_alineacion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-start;
}
*/

